<h3>Product Form</h3>

<div class="container mt-4">
  <form class="row gy-2 gx-3 align-items-center">
    <div class="row px-2">
      <div class="col">
        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
        <select
          class="form-select"
          id="autoSizingSelect"
          name="category"
          [(ngModel)]="selectedCategory"
          (change)="getCategory()"
        >
          <option value="" selected disabled>Choose category to add...</option>
          <option *ngFor="let category of categories" [ngValue]="category">
            {{ category }}
          </option>
        </select>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary me-5">Submit</button>
      </div>
    </div>

    <div *ngFor="let field of fields" class="col-auto">
      <label class="visually-hidden" for="autoSizingInput">{{
        field.name
      }}</label>
      <input
        type="{{ field.type }}"
        name="{{ field.name }}"
        class="form-control"
        id="autoSizingInput"
        placeholder="{{ field.name }}"
      />
    </div>
  </form>
</div>
